button {
  background-color: #ff5722;
  width: 230px;
  border: 1px solid #ff5722;
  border-radius: 2px;
  color: white;
  height: 30px;

}

button:hover {
  opacity: 0.8;
}
button:active {
  opacity: 0.5;
}
.loginContainer {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* ✅ Box shadow effect */
  width: 350px;
  text-align: center;
}

#user {
  margin: 15px;

  display: flex;
  justify-content: center;
}

#password {
  margin: 15px;

  display: flex;
  justify-content: center;
}
input {
  padding: 10px;
  width: 200px;
}
h2 {
  text-align: center;
}

#login {
  display: flex;
  justify-content: center;
}

.forgot {
  margin: 20px;

  display: flex;
  justify-content: center;
}
.forgot1:hover {
  background-color: #ff5722;
}

.signup {
  display: flex;
  justify-content: center;
}

.bodycontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.logo {
  width: 50px;
  height: 50px;
}
